.App {
 /* text-align: center;*/
  background-color: #282c34;
  min-height: 100vh;
 /* display: flex;*/
  /*flex-direction: column;*/
 /* align-items: center;*/
  /*justify-content: space-between;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.agg {
  margin: 10px;
  height: 50px;
  width: 200px;
  background-color: #61dafb;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

.logo{
  width: 150px;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #61dafb;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #282c34;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
